{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="keywords" content="chat, messages"/>
    <meta name="description" content="simpel chat application with Django4 and HTMX 🥱"/>
    <title>messeges</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin"/>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
  </head>

  <body>
    <main>
      <div class="container">
        <h1>Messeges 🫣</h1>
        <ul class="messages-list">
          {% for m in messages %}
            <li id="message-{{m.id}}" class="messages-list--item{% if request.user.id == m.user.id %} message-list-item--you{% endif %}">
              <div class="message-bubble">
                <strong class="message-username" data-text-color="{{ m.user.username }}">
                  {% if request.user.id == m.user.id %}
                    you
                  {% else %}
                    {{ m.user.username }}
                  {% endif %}:
                </strong>
                <span class="message-text">{{ m.message }}</span>
                <small class="sentat-time">{{ m.sent_at|time:"H:i:s" }}</small>
                <a href="{% url 'chat' %}?reply_to={{ m.id }}#message-{{m.id}}">Reply</a>
              </div>
							{% if m.thread %}
								<a href="{% url 'thread' m.thread.id %}" class="no-decoration">⤵️</a>
							{% endif %}
            </li>
          {% endfor %}
        </ul>
        {% if user.is_authenticated %}
					<div class="message-form-container">
						{% if reply_to %}
		          <div >
								<p>
			            >
			            <span data-text-color="{{ reply_to.user.username }}">{{ reply_to.user.username }}</span>:
			            {{ reply_to.message }}
									<a href="{% url 'chat' %}" class="no-decoration">❌</a>
			          </p>
			          <form id="reply-form" action="{% url 'reply_to_message' reply_to.id %}" method="post">
			            {% csrf_token %}
			            <div class="message-textarea">
										<textarea autofocus id="message" name="message"></textarea>
										<button class="btn">💬 Reply</button>
									</div>
			          </form>
							</div>
		        {% else %}
		          <form id="message-form" action="{% url 'send_message' %}" method="post">
		            {% csrf_token %}
		            <div class="message-textarea">
									<textarea autofocus id="message" name="message"></textarea>
									<button class="btn">💬 Send message</button>
								</div>
		          </form>
		        {% endif %}
					</div>
				{% else %}
					<form action="{% url 'auth' %}" method="post" id="auth-form">
						{% csrf_token %}
						<input type="text" name="username" placeholder="username"/>
						<input type="password" name="password" placeholder="password"/>
						<button class="btn">🔑 Login</button>
					</form>
				{% endif %}
      </div>
    </main>
    <script src="{% static 'index.js' %}"></script>
  </body>

</html>
